.create-news-body {
  padding: 40px;
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.create-news-container {
  max-width: 1000px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.create-news-container h1 {
  margin: 0;
}

.create-news-container span {
  color: grey;
}

.create-news-container button {
  margin-top: 20px;
}

.create-news-form {
  margin-top: 20px;
}
