.navbar .form-control {
    width: 200px !important;
    cursor: pointer !important;
    background-color: #343a40 !important;
    border: 1px solid gray !important;
}

.navbar-dark a, .navbar-nav  .form-control  {
    color: white !important;
    font-weight: 300 !important;
}

